version: '3.9'
services:
  # app: 
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #     args:
  #       HTTP_PROXY: http://192.168.10.138:8080
  #       HTTPS_PROXY: http://192.168.10.138:8080
  #   container_name: nestjs-postgres
  #   env_file:
  #     - ./.env.dev
  #   ports:
  #     - '3000:3000'
  #   depends_on:
  #     - db
  #   volumes:
  #     - ./src:/app/src

  db:
    image: postgres
    restart: always
    env_file:
      - ./.env.dev
    container_name: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql
    ports:
      - 5432:5432
  
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: nest-pgadmin4
    env_file:
      - ./.env.dev
    ports:
      - '5050:80'
    depends_on:
      - db
    volumes:
      - ./pgadmin-data:/var/lib/pgadmin
